* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 24px;
}

.container {
  padding: 1rem;
}

th {
  font-size: 0.8rem;
}
#filterContainer {
  display: flex;
  justify-content: center;
}
#filterContainer select {
  margin-right: 1rem;
}
#inputContainer2 {
  display: flex !important;
  justify-content: center;
}
#inputContainer input {
  margin-right: 1rem;
  width: 2rem;
}
#inputContainer2 label {
  margin-right: 1rem;
}
#warning svg {
  height: 30px;
}
#warning {
  justify-content: center;
  display: flex;
}
.warningNone {
  display: none !important;
}
#searchButton {
  font-size: 0.7rem;
}
