@font-face {
  font-family: "Space Grotesk";
  src: url(../fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Space Grotesk", serif;
  font-size: 18px;
  /* color: white; */
  /* background-color: #1d1135; */
  /* width: 1200px; */
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 99px;
}
ul {
  list-style: thumbs;
}
#navbar_desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #0c164f;
  /* TODO: Learn more about CSS animation */
  transition: 0.4s;
  z-index: 99;
  position: fixed;
  width: 100%;
  top: 0;
}
#navbar_desktop a {
  text-align: center;
  padding: 12px;
  line-height: 25px;
  text-decoration: none;
  color: white;
}
#menu a:hover {
  background-color: white;
  border-radius: 30px;
  color: #0c164f;
}
#navbar_desktop a:hover:first-child {
  background-color: none !important;
}
#menu_mobile a {
  text-align: center;
  padding: 12px;
  line-height: 25px;
  text-decoration: none;
  color: white;
}
#navbar_mobile {
  display: none;
}
#menu_mobile a:hover {
  background-color: white;
  border-radius: 30px;
  color: #0c164f;
}
header a > #logo {
  height: 80px;
  margin-right: 30px;
}
.navbar_scroll {
  width: 90% !important;
  margin: 0 auto;
  border: 7px solid #0c164f;
  background-color: white !important;
  border-radius: 30px;
  top: 0;
}
.navbar_scroll a {
  color: #0c164f !important;
}
.navbar_scroll a:hover {
  color: white !important;
  background-color: #0c164f !important;
}
.container {
  /* width: 62.5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  color: #0c164f;
}
.page_divider {
  display: block;
  width: 100%;
  height: 6.25rem;
  margin-bottom: 90px;
}

#entry-title {
  /* margin-top: 80px; */
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../images/thePawsenger.webp);
  background-position: top;
  background-size: cover;
  height: 30em;
  color: white;
}
#entry-titleAbout {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../images/cattonaut.webp);
  background-position: center;
  background-size: cover;
  height: 30em;
  color: white;
}
#entry-titleContact {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  background-image: url(../images/cattonautPLatingFlag.webp);
  background-position: center;
  background-size: cover;
  height: 30em;
  width: 100%;
  color: white;
}
#overlay {
  background-color: rgba(0, 0, 0, 0.588);
}

#entry-title > h1 {
  margin-top: 5rem;
}
#mainCTA {
  /* width: 40rem; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
#abtCTA {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
#abtCTA > .cta_box {
  height: 35em;
  overflow: auto;
}
#abtCTA .team-photo {
  height: 250px;
}
#abtCTA .team-photo:hover {
  transition: 0.4s;
  height: 300px;
}
.imageContainer img:hover {
  transition: 0.2s;
  border: 3px dashed #0c164f;
}
.cta_box {
  width: 25rem;
  border: 8px solid #0c164f;
  border-radius: 8px;
  margin: 30px 20px 30px 20px;
  padding: 20px;
  text-align: center;
}
.cta_box > img {
  height: 100px;
}
#events {
  text-align: center;
}

#abtUs article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
#abtUs article > img {
  height: 450px;
  margin-right: 60px;
}

form legend {
  font-weight: bold;
  font-size: 25px;
}
form fieldset {
  border: 3px solid #0c164f;
}
form label {
  font-weight: bold;
}
form input[type="text"],
input[type="email"],
input[type="tel"] {
  height: 3em;
  width: 30em;
  margin-bottom: 15px;
}
form textarea {
  width: 100%;
  height: 10em;
  padding: 15px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  border-radius: 10px;
  resize: none;
}
form input {
  border: 3px solid #0c164f;
}
form input:focus {
  border-bottom: 3px solid #0c164f;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

form input[type="submit"] {
  margin-top: 15px;
  width: 20em;
  height: 40px;
  border: 3px solid #0c164f;
  border-radius: 30px;
  background-color: white;
  color: #0c164f;
  font-weight: bold;
}
form input[type="submit"]:hover {
  border: 3px solid white;
  background-color: #0c164f;
  color: white;
}
li {
  display: flex;
  align-items: center;
  justify-content: center;
}
li::before {
  content: "🚀";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 1em;
}
.imageContainer img {
  width: 500px;
  height: 100%;
  padding: 10px;
}
.imageContainer a {
  width: 500px;
  height: 100%;
}

#footer {
  margin: 0 auto;
  /* width: 30rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: Center;
  background-color: #0c164f;
  height: 3rem;
  padding: 10px;
  color: white;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    /* width: 62.5; */
  }
  #entry-title {
    flex-direction: column;
    height: 100%;
    background-position: right;
  }
  #mainCTA {
    flex-direction: column;
  }
  #navbar_desktop {
    display: none;
  }
  .cta_box {
    width: 18rem;
  }
  .page_divider {
    margin-bottom: 0;
    height: 100%;
  }
  #navbar_mobile {
    display: block;
    overflow: hidden;
    background-color: #0c164f;
    transition: 0.4s;
    z-index: 99;
    position: fixed;
    top: 0;
    /* right: 0; */
    width: 99%;
  }
  #navbar_mobile a {
    text-align: center;
    display: block;
    padding: 12px;
    line-height: 25px;
    text-decoration: none;
  }
  header a > #logo {
    float: left;
    margin: 0;
    margin-bottom: 15px;
  }
  .icon {
    display: block;
    margin: 20px;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
  }
  .navbar_scroll .icon {
    color: #0c164f;
  }
  #menu {
    display: none;
  }
  #menu_mobile {
    display: none;
    margin-top: 80px;
    text-align: center;
  }
  #abtUs {
    width: 100%;
  }
  #abtUs article {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
  }
  #abtUs article > img {
    margin-right: 0;
    height: 350px;
  }
  .imageContainer img {
    width: 300px;
  }
  iframe {
    display: none;
  }
  footer {
    width: 100%;
  }
}
