* {
  box-sizing: border-box;
}
html {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-size: 24px;
}
.container {
  font-size: 1rem;
}
.table {
  text-align: center;
  vertical-align: middle;
}
thead {
  border-bottom: 0.3rem crimson solid;
}

#ascendingName,
#descendingName,
#ascendingAlbums,
#descendingAlbums {
  display: none;
}

#bandNameHeader,
#numberAlbumsHeader {
  cursor: pointer;
}
#table_controls {
  margin: 1rem 0;
}
#table_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.7rem 0;
}
#filter_controls > .input-group > * {
  padding-right: 1rem;
}
.input-group > #btncheck1 label {
  padding-left: 1rem;
}
#table_nav .input-group,
.pagination {
  margin: 0;
}
