.container {
  padding: 1rem;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(490px, 1fr));
  gap: 0.5rem;
  place-items: center;
  place-content: center;

  li {
    margin: 0.5rem auto;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 10px;
  }
}
