<div class="card">
  <div class="head">{{ task().name }}</div>
  <div class="content">
    <p>{{ task().description }}</p>
    <div [ngClass]="`status ${task().status}`">{{ task().status }}</div>
    <div class="controls">
      <app-button
        [text]="'Mark as:\nNew'"
        [btnClass]="'new'"
        (onClick)="onUpdateClick(task(), 'new')"
      />
      <app-button
        [text]="'Mark as:\nIn-Progress'"
        [btnClass]="'in-progress'"
        (onClick)="onUpdateClick(task(), 'in-progress')"
      />
      <app-button
        [text]="'Mark as:\nDone'"
        [btnClass]="'done'"
        (onClick)="onUpdateClick(task(), 'done')"
      />
    </div>
  </div>
</div>
