/* You can add global styles to this file, and also import other style files */
:root {
  --bright-pink: #ef476f;
  --sunglow: #ffd166;
  --emerald: #06d6a0;
  --blue: #118ab2;
  --midnight: #073b4c;
  --border-radius: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  background-color: var(--sunglow);
}
